* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "sans-serif";
}

.hero-main {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 85px;

  @media screen and (min-width: 834px) and (max-width: 1199px) {
    gap: 155px;
    padding-top: 0;
  }

  @media screen and (max-width: 833px) {
    gap: 58px;
    padding-top: 0;
  }
}

a {
  text-decoration: none;
}
